.selection-panel-container {
  width:$selection-panel-section-width;
  height:$main-card-height-outer;

}

.selection-list {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
}



.pagination-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
}