
.content-section {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height:$content-section-height;
  width: $content-section-width;
  margin-bottom:4.438rem;

}

.content-section_title {
  font-family: 'Lato', sans-serif;
  font-size:$font-size-large;
  color:$black;
  margin:0;
}

.content-section-empty {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width:$content-section-width;
  height:$content-section-height;
}

.content-section-empty_img {
  height:300px;


}