
.main-edit-button {
  z-index:500;
}

.main-edit-button_image {
  position:absolute;
  z-index:10;
  top:-15px;
  right:-18px;
}

.main-edit-button_menu-frame {
  position:absolute;

  z-index:500;
  background-color: $dark-pink;
  height: fit-content;
  border-radius: 10px 10px 10px 10px;
}

.main-edit-button_menu {
  display:flex;
  flex-direction:column;
}

.main-edit-button_menu ul{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item_container {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;

}

.menu-item_input {
  display:none;
}

.menu-item_label {
  font-family: Lato,'sans-serif';
  font-size: $font-size-small;
  color:white;
  border:2px solid white;
  padding:5px;
  //text-align: center;

}

.menu-item_label::before {
  content:"";
  background-color:white;
  border:10px solid white;
  border-radius:50%;
  display:inline-block;
  width:20px;
  height:20px
}

//.menu-item_label::after{
//  content:"";
//  background-color:red;
//  border-radius:50%;
//  display:inline-block;
//  height:20px;
//  width:20px;
//  position:absolute;
//  top:15px;
//  left:15px;
//  //margin:0 0 0 0;
//
//}

.menu-item_input:checked + .menu-item_label{
  background:black;
}

.menu-item_input:checked + .menu-item_label:before{
  background:black;
  border:10px solid white;
}



